In [5]:
print ("Hello World!")

Hello World!

In [4]:
import sys

print(sys.version)

3.13.5 | packaged by Anaconda, Inc. | (main, Jun 12 2025, 11:23:37) [Clang 14.0.6 ]

In [7]:
#Indentation is very important in Python, it is used to indicate blocks of text. Indentation example
if 5>2:
   print ("Five is greater than two!")

Five is greater than two!

In [8]:
if 5 > 2:
print("Five is greater than two!") #there is an error here because of no indentation. At a minimum there must be one indent.

IndentationError: expected an indented block after 'if' statement on line 1 (3793329317.py, line 2)

In [9]:
if 5>2:
    print("Five is greater than two!")
if 5>2:
       print ("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [10]:
#Python variables, variables are created when you assign a value to it.

x=5
y= "Hello World!"

In [13]:
x=10
y="Suroor"
z="Hello World!"
print (x)
print (y)
print (z)

10
Suroor
Hello World!

In [14]:
#Variables can be changed 

x=10
x="Ahmed"
print (x)

Ahmed

In [16]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

In [17]:
# the type() function will show you the data type of a variable. 
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [19]:
# Variable names are case sensitive
a=10
A="Suroor"
print (a)
print (A)

10
Suroor

In [21]:
#You can assign multiple variables in one line
x,y,z = "Mango", "Cherry", "Pineapple"
print (x)
print (y)
print (z)

Mango
Cherry
Pineapple

In [23]:
#You can assign one value to multiple variables in one line
x=y=z = "Orange"
print (x)
print (y)
print(z)

Orange
Orange
Orange

In [24]:
# Unpack a Collection of values, Python allows you to extract the values into variables
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry